a:link{
text-decoration: none;
color: gray;
}
a:visited{
text-decoration: underline;
color: violet;
}
a:hover{
text-decoration: line-through;
color: green;
font-weight: bolder;
letter-spacing: 2px;
}
